.navbar {
  color: #000;
  z-index: 102;
  transform: translateX(-100%);
  height: 100vh;
  position: fixed;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 350ms ease-in-out;
  display: flex;
  width: 100%;
  max-width: 360px;
  flex-direction: column;

  &-active {
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
  }

  &__categories {
    list-style: none;
    margin: 59px 0 0;
    position: relative;
    padding: 0;
    width: 100%;

    .main-category {
      &__link,
      .subcategory__link {
        color: #000;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 0 26px 0 18px;
        overflow: visible;
        width: 100%;
      }
    }
  }
}