.record-header {
  display: flex;
  text-align: left;
  padding-bottom: 30px;
  justify-content: space-around;

  &__text {
    width: 50%;
    flex: none;
  }

  .img-wrapper {
    width: 50%;
    margin-top: -60px;
    flex: none;

    .cover {
      max-width: 100%;
      height: auto;
    }
  }
}

.record-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &__songs,
  &__info {
    padding: 32px 16px 0;
    width: 50%;
    flex: none;
  }

  &__songs {

    .songs-list {
      .song {
        border-bottom: 1px solid #b4b4b4;
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;

        .song-link {
          color: #000000;
          margin-left: 10px;

          &:after {
            content: "";
            background: url("../assets/images/song-icon.png") no-repeat;
            display: inline-block;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  &__info {
    width: 33%;
    text-align: left;
  }
}
